
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.address {
    margin-top: 20px;
}


.form {
  background-color: #f0f4fb;
    padding: 15px;
    width: 400px;
    border: solid 5px;
    border-color: cadetblue;
}

label {
  display: block;
    margin-top: 1rem;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 500;
    color: cadetblue;
}



legend {
  font-size: 18px;
    font-weight: 500;
    
}



.button-click {
  margin-bottom: 15px;
  border-radius: 25px;
  padding: 5px;
  background-color: cadetblue;
  padding-left: 25px;
  padding-right: 25px;
  border-color: bisque;
  font-size: 16px;
  color: bisque;
  text-transform: uppercase;
  cursor: pointer;
}


h2 {
  margin-top: 5px;
    text-align: center;
    color: cadetblue;
    text-decoration-line: underline;
}

a {
  text-decoration: none;
  /* margin-bottom: 15px; */
  color: wheat;
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}


/* TABLEAU*/

/* largeur tableau */
.LYwHa {
  position: relative;
  width: 80% !important;
  border-radius: inherit;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 0;
}

/* haut du tableau */
.VqMBs {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFFFFF;
  border: solid 2px;
  border-color: cadetblue;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* bordure sous le tableau */
.isdzTY {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  min-height: 56px;
  background-color: #FFFFFF;
  border: none !important;
}
/* tableau: colonne du haut */
.buGObk {
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: cadetblue !important;
  min-height: 52px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.12);
  border-bottom-style: solid;
  color: white;
  
}
/* tri nombre de colonnes */
.isdzTY {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  min-height: 56px;
  background-color: #FFFFFF;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0,0,0,.12);
  color: cadetblue !important;
  font-weight: 600 !important;
}
/* flèches tri */
.hwVeUK:disabled {
  cursor: unset;
  color: rgba(0, 0, 0, .18);
  fill: cadetblue !important;
}

/* prenom en turquoise */
.custom-column {
  color: cadetblue;
  font-weight: bold;
}

/* nom en majuscule */
.custom-column-2 {
  color: cadetblue;
  font-weight: bold;
  text-transform: uppercase;
}

