.title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
    margin-top: 20px;
}


.form {
  background-color: #f0f4fb;
    padding: 25px;
    width: 400px;
    border: solid 5px;
    border-color: cadetblue;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: cadetblue;
}

input {
  width: 80%;
}

legend {
  font-size: 18px;
    font-weight: 500;
    
}

.button-save {
  margin-top: 15px;
    border-radius: 25px;
    padding: 5px;
    background-color: cadetblue;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border-color: bisque;

}