
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.address {
    margin-top: 20px;
}


.form {
  background-color: #f0f4fb;
    padding: 15px;
    width: 400px;
    border: solid 5px;
    border-color: cadetblue;
}

label {
  display: block;
    margin-top: 1rem;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 500;
    color: cadetblue;
}

input {
  width: 80%;
}

legend {
  font-size: 18px;
    font-weight: 500;
    
}



.button-click {
  margin-bottom: 15px;
  border-radius: 25px;
  padding: 5px;
  background-color: cadetblue;
  padding-left: 25px;
  padding-right: 25px;
  border-color: bisque;
  font-size: 16px;
  color: bisque;
  text-transform: uppercase;
  cursor: pointer;
}


h2 {
  margin-top: 5px;
    text-align: center;
    color: cadetblue;
    text-decoration-line: underline;
}

a {
  text-decoration: none;
  /* margin-bottom: 15px; */
  color: wheat;
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}

/* TABLEAU */

/* Styles pour le tableau */
#employee-table {
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
}

#employee-table th, #employee-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#employee-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#employee-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#employee-table tbody tr:hover {
  background-color: #ddd;
}
